# .env

# Path to your Nopecha or other CAPTCHA bypass extension folder
EXTENSION_PATH=

# Default output files
PROFILES_OUTPUT_CSV=
DETAILED_OUTPUT_CSV=

# Default settings
DEFAULT_PAGES=10
DEFAULT_HEADLESS=False
